/* TODO Add site wide styles */

html,
body {
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

* {
box-sizing: border-box;
}

h1 {
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.fit-width {
    width: fit-content;
}
