.splash-page {
    background-image: url('https://livebnbbucket.s3.amazonaws.com/studio.jpeg');
    background-color: #cccccc;
    height: 100%;
    width: 100%;
}
.splash-container {
    width: 700px;
    height: 500px;
    border-radius: 20px;
    background-color: #ccccccb4;
}


.splash-content {
    height: 100%;
}
.splash-content > div {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.splash-footer {
    height: 70px;
}
.splash-title {
    height: 200px;
    padding-top: 40px;
}

.splash-content-right, .splash-content-left {
    padding: 20px;
}

label.flex.flex-col {
    margin-bottom: 30px;
}
