
.card-container {
    width: 620px;
    border: 1px solid darkgray;
    margin-right: 0px;

    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 0px 10px 15px;
    margin: 10px 0px;


}



#holder {
    width: 40px;
    height: 40px;
}

#nav-space {
    height: 70px;
}


.card-button-row {
    /* border: 1px solid red; */
    height: 40px;
    margin-top: 10px;
}

button.upvote {
    border-radius: 20px 0 0 20px;
}
button.downvote {
    border-radius: 0 20px 20px 0;
}

button.answer {
    border-radius: 20px;
}

button.delete {
    width: 40px;
    height: 40px;
    padding: 20px;
    border: none;
}
